@charset "UTF-8";
/* 
PALETAV DE CORES
AZUL: #435086
LILAS:#5F4A87

*/
:root{

    /*Cores Principais*/
    --cor00: white;
    --cor01: #e72de7;
    --cor02: #4a8587;
}
*{
    margin: 0px;
    padding: 0px;
   
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient( to bottom , var(--cor01), var(--cor02));
    background-repeat: no-repeat;
    height: 100vh;
    
}

#formulario{
    background-image: url(../image/fundo-login.jpg);
    position: relative;
    top: 25vh;
    margin: auto;
    width: 80%;
    height: 100%;
    background-color: var(--cor00);
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    
}
